#mb{
    border: 1px solid grey;
    width: 300px;
    padding:30px;
    background: transparent;
    backdrop-filter: blur(30px);
    text-align: center;
    box-shadow: 2px 2px black;
    
}

nav{
    background:rgb(1, 1, 10);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

li{
    list-style: none;
    font-size: 15px;
}

.cr{
    color:bisque;
    padding:5px;
    font-family:cursive;
}

a{
    text-decoration: none;
}

.one{
    margin:auto;
    margin-top: 180px;
}

.two{
    margin:auto;
    margin-top:100px;
}

h1 {
    color: antiquewhite;
    text-shadow: 2px 2px black;
}

.l1 {
    margin: 0;
    padding: 0;
    background-image: url("/static/image/picc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
}

.l2 {
    margin: 0;
    padding: 0;
    background-image: url("/static/image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
}

input {
    background: transparent;
    width: 290px;
    height: 30px;
    border-radius: 15px;
    padding: 0 10px;
    color: beige;
}

.myfieldclass{
    color:wheat;
}

.lin{
    color:rgb(22, 24, 17);
    text-shadow: 1px 1px rgb(157, 154, 154);
}

.linn{
    color:rgb(28, 40, 9);
    text-shadow: 1px 1px rgb(92, 64, 64);
}

input::placeholder {
    color: white;
    text-shadow: 1.5px 1.5px rgb(20,5,42);
}

.lbutton {
    background: rgb(75, 132, 159);
}

.create_det{
    background:transparent;
    backdrop-filter: blur(30px);
    border: 2px solid black;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    width: 400px;
    padding: 20px;
}

.display_det{
    background:transparent;
    backdrop-filter: blur(30px);
    border: 2px solid black;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    width: 700px;
    padding: 20px;
}

#disp_t{
    align-items: center;
    margin:auto;
}

.change{
    color:rgb(4, 4, 45)
}

th,td{
    padding: 10px;
}