<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="mainbody">
    <div >
        <div class="main" >
            <h1>Signup</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" placeholder="First Name" name="fname"><br><br>
                <input type="text" placeholder="Last Name" name="lname"><br><br>
                <input type="email" placeholder="Email" name="email"><br><br>
                <input type="text" placeholder="Username" name="username"><br><br>
                <input type="password" placeholder="Password" name="password"><br><br>
                <input type="submit" class="loginbutton" value="Sign up">
                <p><a href="{% url 'login' %}">Already have an account? Login</a></p>
            </form>
        </div>
    </div>
    
    
</body>
</html>